<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Log_Compactor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Log_Compactor.Properties.Settings>
            <setting name="Last_File" serializeAs="String">
                <value />
            </setting>
            <setting name="Chunk_Size" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Passage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minimum_Length" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Create_Removed_File" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Excluded_Entries" serializeAs="String">
                <value />
            </setting>
            <setting name="Skip_Menu_Battle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Star_Wars_Theme" serializeAs="String">
                <value>True</value>
            </setting>
        </Log_Compactor.Properties.Settings>
    </userSettings>
</configuration>